<div class="valign-wrapper">
  <div class="col s9">
    <h4>Tracks</h4>
  </div>
  <div class="col s3 right-align">
    <%= link_icon_to :add, 'Add Track', new_track_path %>
  </div>
</div>

<table class="striped">
  <thead>
    <tr>
      <th>Spotify</th>
      <th>Name</th>
      <th>Artist</th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.spotify_id %></td>
        <td><%= track.name %></td>
        <td><%= track.artist %></td>
        <td class="right-align">
          <%= link_to_destroy track %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
