<div class="row">
  <div class="col s6 offset-s3">
    <h4 class="center-align">Sign up</h4>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="input-field">
        <i class="material-icons prefix">account_circle</i>
        <%= f.email_field :email, autofocus: true, id: 'icon_email' %>
        <%= f.label :email, for: 'icon_email' %>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">security</i>
        <%= f.label :password, for: 'icon_pass', 'data-error': "Erro na parada" %>
        <%= f.password_field :password, autocomplete: "off", id: 'icon_pass'  %>
      </div>

      <div class="input-field field">
        <i class="material-icons prefix">security</i>
        <%= f.label :password_confirmation, for: 'icon_pass' %>
        <%= f.password_field :password_confirmation, autocomplete: "off", id: 'icon_pass' %>
      </div>

      <div>
        <div class="col s12 right-align">
          <button class="btn waves-effect waves-light" type="submit" name="action">Sign up
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <%= render "devise/shared/links" %>
</div>