<div class="row">
  <div class="col s9">
    <div class="row valign-wrapper">
      <div class="col s9">
        <h4 class="center-align"><strong>Suggested Songs</strong></h4>
      </div>
      <div class="col s3 right-align">
        <%= link_icon_to :add, 'Add Track', new_track_path %>
      </div>
    </div>
    <% @tracks.each do |track| %>
        <div class="col s4">
          <div class="card green center-align">
            <div class="card-content white-text">
              <span class="card-title"><%= truncate(track.name, length: 20) %></span>
              <p><%= spotify_track_iframe track.spotify_id %></p>
            </div>
            <div class="card-action center-align">
              <%= render partial: 'ratings/form', locals: {track_id: track.id, score: track.score} %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="col s3">
    <h4 class="center-align"><strong>Top 10</strong></h4>
    <% @ranking_tracks.each do |ranking_track| %>
      <p class="center-align">
        <%= spotify_track_iframe ranking_track.spotify_id %>
      </p>
    <% end %>
  </div>
</div>